<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
        <testsuite name="Auth">
            <directory suffix="Test.php">./tests/Auth</directory>
        </testsuite>
        <testsuite name="Broadcasting">
            <directory suffix="Test.php">./tests/Broadcasting</directory>
        </testsuite>
        <testsuite name="Bus">
            <directory suffix="Test.php">./tests/Bus</directory>
        </testsuite>
        <testsuite name="Cache">
            <directory suffix="Test.php">./tests/Cache</directory>
        </testsuite>
        <testsuite name="Config">
            <directory suffix="Test.php">./tests/Config</directory>
        </testsuite>
        <testsuite name="Console">
            <directory suffix="Test.php">./tests/Console</directory>
        </testsuite>
        <testsuite name="Container">
            <directory suffix="Test.php">./tests/Container</directory>
        </testsuite>
        <testsuite name="Cookie">
            <directory suffix="Test.php">./tests/Cookie</directory>
        </testsuite>
        <testsuite name="Database">
            <directory suffix="Test.php">./tests/Database</directory>
        </testsuite>
        <testsuite name="Encryption">
            <directory suffix="Test.php">./tests/Encryption</directory>
        </testsuite>
        <testsuite name="Events">
            <directory suffix="Test.php">./tests/Events</directory>
        </testsuite>
        <testsuite name="Filesystem">
            <directory suffix="Test.php">./tests/Filesystem</directory>
        </testsuite>
        <testsuite name="Foundation">
            <directory suffix="Test.php">./tests/Foundation</directory>
        </testsuite>
        <testsuite name="Hashing">
            <directory suffix="Test.php">./tests/Hashing</directory>
        </testsuite>
        <testsuite name="Http">
            <directory suffix="Test.php">./tests/Http</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="Log">
            <directory suffix="Test.php">./tests/Log</directory>
        </testsuite>
        <testsuite name="Mail">
            <directory suffix="Test.php">./tests/Mail</directory>
        </testsuite>
        <testsuite name="Notifications">
            <directory suffix="Test.php">./tests/Notifications</directory>
        </testsuite>
        <testsuite name="Pagination">
            <directory suffix="Test.php">./tests/Pagination</directory>
        </testsuite>
        <testsuite name="Pipeline">
            <directory suffix="Test.php">./tests/Pipeline</directory>
        </testsuite>
        <testsuite name="Queue">
            <directory suffix="Test.php">./tests/Queue</directory>
        </testsuite>
        <testsuite name="Redis">
            <directory suffix="Test.php">./tests/Redis</directory>
        </testsuite>
        <testsuite name="Routing">
            <directory suffix="Test.php">./tests/Routing</directory>
        </testsuite>
        <testsuite name="Session">
            <directory suffix="Test.php">./tests/Session</directory>
        </testsuite>
        <testsuite name="Support">
            <directory suffix="Test.php">./tests/Support</directory>
        </testsuite>
        <testsuite name="Translation">
            <directory suffix="Test.php">./tests/Translation</directory>
        </testsuite>
        <testsuite name="Validation">
            <directory suffix="Test.php">./tests/Validation</directory>
        </testsuite>
        <testsuite name="View">
            <directory suffix="Test.php">./tests/View</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".blade.php">./src/</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="memory_limit" value="-1"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_HOST" value="mysql"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="secret"/>
        <!-- <env name="DB_PASSWORD" value="wrong-secret-words"/> -->
        <env name="REDIS_HOST" value="redis"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="MEMCACHED_HOST" value="memcached"/>
        <env name="MEMCACHED_PORT" value="11211"/>
    </php>
</phpunit>
