<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="Laravel Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".blade.php">./src/</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="memory_limit" value="-1"/>
        <!-- <env name="DB_CONNECTION" value="mysql"/> -->
        <!-- <env name="DB_HOST" value="laravel_testing_mysql"/> -->
        <!-- <env name="DB_USERNAME" value="root"/> -->
        <!-- <env name="DB_PASSWORD" value="wrong-secret-words"/> -->
        <env name="REDIS_HOST" value="laravel_testing_redis"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="MEMCACHED_HOST" value="laravel_testing_memcached"/>
        <env name="MEMCACHED_PORT" value="11211"/>
    </php>
</phpunit>
